@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 1.5rem;
      }
    }
  }
  .about_bio {
    font-size: 1.5rem;
  }

  .projects {
    &_bio-image {
      height: 40vh;
    }

    &_items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }
  .contact_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .projects {
    &_items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact_list {
    grid-template-columns: repeat(3, 1fr);
  }
  .home {
    text-align: left;
    padding-left: 40px;

    &_my-name {
      margin-bottom: 1.5rem;
    }

    &_name {
      width: 680px;
      line-height: 1;
      font-size: 3.7rem;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  footer {
    transform: rotate(360deg);
  }
}

@include media-xl {
  .projects_bio-image {
    height: 50vh;
  }
}
